@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-picker-time-panel-column::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.ant-picker-time-panel-column::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
}

.ant-picker-time-panel-column {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
  list-style: none;
  transition: background 0.2s;
}
